<script>
  // for bootstrap tooltips
  $(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
  });
</script>

<style>
.htmltooltip + .tooltip > .tooltip-inner {
  white-space: normal;
  text-align: left;
}
</style>

<div class="container-fluid">
  <div class="panel panel-default">
	<div class="panel-heading">
	  <b>Discovered Hosts</b>
	  <div class="pull-right">
		<%= link_to('', compact_hosts_path(), {class: ['glyphicon', 'glyphicon-th-list'], title: 'Compact listing'})%>
	  </div>
	</div>
	<div class="panel-body">
	  <table class="table table-striped">
		<tr>
		  <th>IP
		  <th>MAC
		  <th>Vendor
		  <th>OS
		  <th>Name
		  <th>Last Seen
		  <th colspan=2>
		</tr>
		<% @hosts.each do |h| %>
		<tr>
		  <td><%= h.ip %>
		  <td><%= h.mac %>
		  <td><%= h.vendor %>
		  <td><%= h.os %>
		  <td><%= h.name %>
		  <td><%= h.updated_at %>
		  <%
			tt = '- Show asset -'
			tt += "<p><b>Open Ports:</b> #{h.ports.length}"
			if(!h.description.blank?)
			  tt += '<p><b>Description:</b></br>' + h.description.to_s
			end
		  %>
		  <td><%= link_to('', h, {class: ['glyphicon', 'glyphicon-eye-open', 'htmltooltip'],
						  title: tt,
						  'data-placement'=> 'left',
						  'data-toggle'=> 'tooltip',
						  'data-html'=> true
		  }) %>
		  <td><%= link_to('', edit_host_path(h), {class: ['glyphicon', 'glyphicon-edit'], title: 'Edit'})%></td>
		</tr>
		<% end %>
	  </table>
	  <%= @hosts.length %> assets
	</div>
  </div>
</div>
